* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

::-webkit-scrollbar {
    display: none;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    cursor:default;

    @include respond(large-laptop) {
        font-size: 55%;
    }

    @include respond(tablet) {
        font-size: 48%;
    }

    @include respond(med-tablet) {
        font-size: 43%;
    }

    @include respond(small-tablet) {
        font-size: 40%;
    }
}

body {
    color: $color-white;
    font-family: 'Nunito Sans', sans-serif;
    background: $color-black;
}

img {
    width: 100%;
}